# Credentials and keys
credentials/
key.json
*.json
!package.json

# Project specific info
project_info.txt

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/

# Environment/Project specific
server.log
.DS_Store

# UI/Build
node_modules/
.env
